body, ul, li, h2, h4, a{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family:  Tahoma, "Trebuchet MS", Verdana, Cambria, Calibri, Arial, Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1, sans-serif;  

}

body{
    width: 960px;
    margin: 0 auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.header{
    width: 960px;
    margin: 0 auto;
    padding: 18px 0 0 0;
    background: url('http://nesa.zju.edu.cn/images/bg-header.jpg') repeat-x;
}

.logo{
    display: block; 
    width: 296px;
    height: 74px;
    margin: 0 auto 22px;
}

.header ul{
    width: 960px;
    padding: 16px 0 22px;
    height: 37px;
}

.header ul li:first-child{
    margin: 0 0 0 35px;
}
.header ul li{
    float: left;
    margin: 0 0 0 80px;
}

.header ul li a{
    color: #588181; 
    line-height: 37px;
    height: 37px;
}

.box{
    border-bottom: 2px solid #000;
}

.content{
    padding: 20px 0;
    width: 940px;
    margin: 0 auto;
}

.content h2{
    color: #97aeb3;
    font-size: 24px;
    font-weight: normal;
    padding: 20px 0;
}

.content .crew{
    width: 970px;
    margin: 0 auto;
    margin: 0 0 10px 0;
    text-align: center;
}

.content h4{
    font-size: 16px;
    color: #000;
    margin: 17px 0;
}


.content .crew a{
    width: 155px;
    height: 255px;
    display: inline-block;
    margin: 0 25px 0 0;
}

.content .crew img{
    width: 145px;
    height: 150px;
    border: 3px solid #96cdcd;
}