

a{
    text-decoration: none;
}


.box{
    border-bottom: 2px solid #000;
}

.content{
    padding: 20px 0;
    width: 940px;
    margin: 0 auto;
}

.content h2{
    color: #97aeb3;
    font-size: 24px;
    font-weight: normal;
    padding: 20px 0;
}

.content .crew{
    width: 970px;
    margin: 0 auto;
    margin: 0 0 10px 0;
    text-align: center;
}

.content h4{
    font-size: 16px;
    color: #000;
    margin: 17px 0;
}


.content .crew a{
    width: 155px;
    height: 255px;
    display: inline-block;
    margin: 0 25px 0 0;
}

.content .crew img{
    width: 145px;
    height: 150px;
    border: 3px solid #96cdcd;
}