

.box{
    border: 1px solid #000;
    width: 960px;
    margin: 0 auto;
}

.content{
    padding: 20px 15px;
    width: 930px;
    margin: 0 auto;
}

.content h2{
    color: #97aeb3;
    font-size: 29px;
    font-weight: normal;
    padding: 20px 0;
}

.content h2 a{
    color: #97aeb3;
    
}

.content h3{
    background: url(http://nesa.zju.edu.cn/images/icons.png) no-repeat 0 -350px;
    text-indent: 30px;
    color: #767676;
    line-height: 30px;
    font-weight: normal;
    font-size: 16px;
}

.content ol{
    margin: 10px;
}
.content ol li{
    position: relative;
    /* left: 10px; */
    font-size: 15px;
    color: #767676;
    /* list-style-position: outside; */
    margin-top: 10px;
    left: 20px;
    line-height: 30px;
}

.content a{
    color: #767676;
}