
.box{
    border: 1px solid #000;
}

.content{
    padding: 20px 0;
    width: 960px;
}

.content .res{
    padding: 20px;
}

.content .res img{
    vertical-align: top;
    width: 210px;
    height: 210px;
    box-shadow: 10px 10px 10px grey;
}

.content .res p{
    padding: 0 0 0 10px;
    display: inline-block;
    font-size: 18px;
    color: #767676;
    width: 690px;
    line-height: 30px;
    margin-top: -10px;
}