body, ul, a, ol{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

a{
    text-decoration: none;
}

.header{
    padding: 12px 0;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.75);
}

.header .headermenu{
    width: 1012px;
    height: 38px;
    margin: 0 auto;
}

.header .headermenu a{
    display: inline-block;
    float: left;
    background-color: transparent;
}

input{
    float: left;
    position: relative;
    margin-left: 10px;
    top: 5px;
    border: none;
    width:300px;
    height: 25px;
    background-color: rgba(255,255,255,0.25);
    color: white;
    border-radius: 2px;
}

.headermenu ul{
    float: left;
    margin-top: 10px;
    padding: 0 10px;
}

.headermenu li{
    list-style: none;
}

.headermenu a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
    margin: 0 8px;
}


.container{
    width: 1012px;
    margin: 30px auto 0;
    padding: 0 16px;
}

.container .profile{
    padding-right: 16px;
    width: 25%;
    float: left;
    display: inline-block;
}

.container .profile .satomi{
    width: 229px;
    height: 230px;
    border-radius: 7px;
}

.container button{
    display: inline-block;
    text-align: center;
    width: 230px;
    padding: 6px 12px;
    /* line-height: 20px; */
    border-radius: 3px;
    border: 1px solid rgba(27,31,35,0.2);
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    font-size: 14px;
    font-weight: 600;
}

.container .second{
    margin-top: 20px;
}

.container .contrib{
    padding-left: 8px;
    vertical-align: inherit;
    width: 730px;
    height: 300px;
    top: 0px;
    /* background-color: red; */
    /* display: inline-block; */
    float: left;
}
.container .nav a{
    display: inline-block;
    color: #586069;
    padding: 16px 8px;
    margin-right: 16px;
    /* line-height: 1.5; */
}

.container .nav a span{
    font-weight: 600;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 12px;
    background-color: rgba(27,31,35,0.08);
}

.container .contrib li{
    border: 1px solid #e1e4e8;
    border-radius: 4px;
    display: inline-block;
    width: 310px;
    height: 89px;
    padding: 16px;
    margin: 1px 0px 16px 16px;
}

.container .contrib span{
    color: #0366d6;
    font-weight: 600;
    width: 100%;
    height: 100%;
}

.container .contrib .sep{
    margin: 8px 0 16px 0;
    height: 26px;
}